/* CSS Document */

body, html {
    height: 100%;
    background-color: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
}

header {
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #84B3E7;
}

#header-logo {
    width: 120px;
    float: left;
    margin: 5px 20px 0 0;
}

#header-title {
    line-height: 100px;
    font-size: 32px;
    float:left;
}

#login-buttons{
    line-height: 100px;
    float: right;
}

#login-buttons button {
    color: #0d1117;
    border: 1px solid #0d1117;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    background-color: #84B3E7;
}

#login-buttons button:hover {
    color: #0d1117;
    border-color: #fcfcfc;
    background-color: #fcfcfc;
    transition: 0.3s;
}

#nav-section {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #0d1117;
}

#nav-section nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-section-button {
    color: #0d1117;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #0d1117;
    cursor: pointer;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #84B3E7;
}

.nav-section-button:hover {
    color: #0d1117;
    background-color: #fcfcfc;
    transition: 0.3s;
}

.nav-section-button-active {
    background-color: #b3e784;
    color: #0d1117;
}

#sidenav {
    width: 250px;
    float: left;
    background: #eee;
    overflow-x: hidden;
    padding: 10px;
    text-align: center;
}

/* The navigation menu links */
#sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #0d1117;
}

#items {
    margin-left: 270px;
    padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
}

.full-width-wrapper, main {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    bottom: 0;
    top:0;
    left:0;
    min-height: 200px;
    background-color: #0d1117;
    color: #fcfcfc;
    float:left;
    width:100%;
    height: auto;
    position: relative;
    display: block;
}

footer a {
    color: #fcfcfc;
    text-decoration: none;
}

footer a:hover {
    color: #84B3E7;
}

.login-register-form {
    width: 100%;
    margin: 50px;
    padding: 50px;
    background: #eee;
}

.login-register-form-alert {
    width: 100%;
    background: #f69999;
    text-align: center;
    padding: 10px;
    margin: 50px 50px 0 50px;
}

.message-form-alert {
    width: 100%;
    background: #b3e784;
    text-align: center;
    padding: 10px;
    margin: 50px 50px 0 50px;
}

.new-ad-form-alert {
    width: 80%;
    background: #b3e784;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.login-register-form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-register-form input[type=checkbox]{
    cursor: pointer;
    vertical-align: middle;
}

#form-checkbox-label {
    display: inline-block;
    white-space: nowrap;
}

.login-register-form label{
    white-space: pre-wrap;
    align-items: center;
}

.login-register-form input[type=submit] {
    background: #dedede;
}

.login-register-form input[type=submit]:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav-button{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #eee;
    color: #0d1117;
    padding: 12px 20px;
    cursor: pointer;
}

.sidenav-button:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav-button-active {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
}

.search-form input[type=text], input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form input[type=radio]{
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.search-form input[type=checkbox]{
    cursor: pointer;
    margin: 0 20px 0 20px;
}

.search-form textarea {
    min-height: 200px;
}

.search-form input[type=submit]{
    cursor: pointer;
    background: #dedede;
    width: 100%;
    padding: 12px 20px;
    border: none;
}

.search-form input[type=submit]:hover{
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#form-search-checkboxs label{
    padding: 5px;
    white-space: nowrap;
    line-height: 30px;
}

.search-from-to {
    display: inline-flex;
}

.search-from-to label {
    white-space: nowrap;
}

.item-row {
    background: #eeeeee;
    width: 100%;
    height: 220px;
    padding: 5px 15px 15px 15px;
    margin-bottom: 10px;
}

.user-item-row {
    background: #fcfcfc;
    width: 95%;
    height: 220px;
    text-align: left;
    padding: 5px 15px 15px 15px;
    margin: 0 auto 10px;
}

.information {
    float: left;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.item-date {
    padding: 5px;
    margin-left: -15px;
    background: #f69999;
}

.information-link {
    text-decoration: none;
    color: #2196F3;
    background: #dedede;
    padding: 5px;
    margin-left: 5px;
}

.information-link:hover {
    color: #fcfcfc;
    background: #84B3E7;
    transition: 0.3s;
}

.image-container {
    float: right;
    padding: 5px;
    height: 220px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.item-details {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background: #eee;
    text-align: center;
}

.item-details table {
    border-collapse: collapse;
    border-spacing: 30px 0;
    margin: 0 auto;
}

.item-details table tr {
    text-align: left;
}

.item-details table td {
    text-align: left;
    padding: 1px 10px;
}

.messages-table {
    width: 100%;
    padding: 5px 0;
}

.messages-table tr td {
    width: 20%;
}

.messages-table th {
    background: #0d1117;
    border: 1px solid #fcfcfc;
    color: #fcfcfc;
    padding: 10px;
}

.item-description {
    padding: 1px 20px 20px 20px;
    margin: 20px 0;
    background: #dedede;
}

.item-image-container {
    padding: 5px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.slide-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #eee;
    color: #0d1117;
    padding: 9px 15px;
    cursor: pointer;
}

.slide-button:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.slide-button-active {
    background: #84B3E7;
    color: #fcfcfc;
}

.message-form {
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

.message-form input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.message-form textarea {
    min-height: 200px;
}

.message-form label{
    white-space: pre-wrap;
    align-items: center;
}

.message-form input[type=submit] {
    background: #dedede;
}

.message-form input[type=submit]:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.global-button{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #dedede;
    color: #0d1117;
    padding: 12px 20px;
    cursor: pointer;
}

.global-button:hover {
    background: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.global-button-active {
    background: #84B3E7;
    color: white;
}

#message-text {
    background: #dedede;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
}

#add-new-item {
    display: none;
    width: 75%;
    margin: 0 auto;
}

#form-search-checkboxs table tr td {
    padding: 5px;
}




