/* CSS Document */

body, html {
    height: 100%;
    background-color: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
}

header {
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #84B3E7;
}

#header-logo {
    width: 120px;
    float: left;
    margin: 5px 20px 0 0;
}

#header-title {
    line-height: 100px;
    font-size: 32px;
    float:left;
}

#login-buttons{
    line-height: 100px;
    float: right;
}

#login-buttons button {
    color: #0d1117;
    border: 1px solid #0d1117;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    background-color: #84B3E7;
}

#login-buttons button:hover {
    color: #0d1117;
    border-color: #fcfcfc;
    background-color: #fcfcfc;
    transition: 0.3s;
}

#nav-section {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #0d1117;
}

#nav-section nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-section nav button {
    color: #0d1117;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #0d1117;
    cursor: pointer;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #84B3E7;
}


#nav-section nav button:hover {
    color: #0d1117;
    background-color: #fcfcfc;
    transition: 0.3s;
}

#sidenav {
    width: 250px;
    float: left;
    background: #eee;
    overflow-x: hidden;
    padding: 10px;
    text-align: center;
}

/* The navigation menu links */
#sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #0d1117;
}

#items {
    margin-left: 270px;
    padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
}

.full-width-wrapper, main {
    width: 960px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    min-height: 200px;
    background-color: #0d1117;
    color: #fcfcfc;
}

footer a {
    color: #fcfcfc;
    text-decoration: none;
}

footer a:hover {
    color: #84B3E7;
}

.login-register-form {
    width: 100%;
    margin: 50px;
    padding: 50px;
    background: #eee;
}

.login-register-form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-register-form input[type=checkbox]{
    cursor: pointer;
    vertical-align: middle;
}

#form-checkbox-lable {
    display: inline-block;
    white-space: nowrap;
}

.login-register-form label{
    white-space: pre-wrap;
    align-items: center;
}

.login-register-form input[type=submit]:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.search-form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sidenav-button{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #eee;
    color: #0d1117;
    padding: 12px 20px;
    cursor: pointer;
}

.sidenav-button:hover {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav-button-active {
    background-color: #84B3E7;
    color: white;
    cursor: pointer;
}



